# Ignore common build artifacts and IDE files for Spring Boot Maven projects
.git
.mvn/wrapper/maven-wrapper.jar
target/
*.log
tmp/
temp/
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.factorypath
.apt_generated/
.springBeans/
.sts4-cache/
nbproject/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
HELP.md
fly.toml
